In [1]:
import pandas as pd
import numpy as np
import os
import datetime

import IPython
import IPython.display

stat_path = input("Enter path to daily detailed statistics: ")

lab_path = input("Enter path to daily lab testing figures:")

vacc_path = input("Enter path to daily vaccination figures")

boost_path = input("Enter path to daily booster figures: ")

In [2]:
owd_path = input("Enter path to Our World in data file: ")

Enter path to Our World in data file: /Users/simonmclain/Documents/Documents/Software Development with AI/Semister 4/Engineering Team Project/TUS-Engineering-Team-Project/Data

In [3]:
filename = '/owid-covid-data.csv'

In [4]:
path = owd_path + filename

In [5]:
df = pd.read_csv(path)

In [6]:
#df.location.unique()

In [7]:
df_irl = df.location.isin(['Ireland'])

In [8]:
df = df[df_irl]

In [9]:
df.shape

(717, 67)

In [10]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [11]:
df.reset_index(inplace=True)

In [12]:
df.drop(columns=['iso_code', 'continent','weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'location','tests_units','handwashing_facilities'], inplace=True)

In [13]:
df.drop(columns=['index'], inplace=True)

In [14]:
df.head()

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,29/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,0.201,0.201,NaN,...,3.28,23.0,25.7,2.96,82.3,0.955,-428.2,-7.1,-4.43,-85.933825
1,01/03/2020,1.0,0.0,NaN,NaN,NaN,NaN,0.201,0.000,NaN,...,3.28,23.0,25.7,2.96,82.3,0.955,NaN,NaN,NaN,NaN
2,02/03/2020,1.0,0.0,NaN,NaN,NaN,NaN,0.201,0.000,NaN,...,3.28,23.0,25.7,2.96,82.3,0.955,NaN,NaN,NaN,NaN
3,03/03/2020,2.0,1.0,NaN,NaN,NaN,NaN,0.401,0.201,NaN,...,3.28,23.0,25.7,2.96,82.3,0.955,NaN,NaN,NaN,NaN
4,04/03/2020,6.0,4.0,NaN,NaN,NaN,NaN,1.204,0.803,NaN,...,3.28,23.0,25.7,2.96,82.3,0.955,NaN,NaN,NaN,NaN

In [15]:
df.drop(df.index[:10], inplace=True)

In [17]:
df=df.fillna(0)

In [19]:
df.shape

(707, 58)