In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
path = '/Users/simonmclain/Documents/Documents/Software Development with AI/Semister 4/Engineering Team Project/TUS-Engineering-Team-Project/Data/Google/'

In [3]:
mt1 = pd.read_table(path+'multiTimeline(1).csv', skiprows=2, sep=',')

In [4]:
mt1["Week"] = pd.to_datetime(mt1["Week"], format="%Y-%m-%d")

In [5]:
mt2 = pd.read_table(path+'multiTimeline(2).csv', skiprows=2, sep=',')

In [6]:
mt2["Week"] = pd.to_datetime(mt2["Week"], format="%Y-%m-%d")

In [7]:
mt3 = pd.read_table(path+'multiTimeline(3).csv', skiprows=2, sep=',')

In [8]:
mt3['Week']=mt3['Week'].str.replace('/','-')

In [9]:
mt3["Week"] = pd.to_datetime(mt3["Week"], format="%d-%m-%Y")

In [10]:
mt4 = pd.read_table(path+'multiTimeline(4).csv', skiprows=2, sep=',')

In [11]:
mt4["Week"] = pd.to_datetime(mt4["Week"], format="%Y-%m-%d")

In [12]:
mt5 = pd.read_table(path+'multiTimeline(5).csv', skiprows=2, sep=',')

In [13]:
mt5["Week"] = pd.to_datetime(mt5["Week"], format="%Y-%m-%d")

In [14]:
frames = [mt1,mt2,mt3,mt4,mt5]

In [15]:
df = reduce(lambda left, right: pd.merge(left,right,on=['Week'],how='outer'),frames).fillna(0)

In [16]:
df.replace(['<1'],0, inplace=True)

In [17]:
df.set_index('Week', inplace=True)

In [18]:
df.columns

Index(['covid: (Ireland)', 'COVID-19 testing: (Ireland)',
       'COVID-19 rapid antigen test: (Ireland)',
       'Health Service Executive: (Ireland)', 'Vaccination: (Ireland)',
       'book covid test: (Ireland)_x', 'how many covid cases today: (Ireland)',
       'pcr covid test: (Ireland)', 'close contact covid: (Ireland)',
       'book a covid test: (Ireland)', 'vaccination centre: (Ireland)',
       'pharmacy near me: (Ireland)',
       'Treatment and management of COVID-19: (Ireland)',
       'Hand sanitizer: (Ireland)', 'Face mask: (Ireland)',
       'book covid test: (Ireland)_y', 'covid test dublin: (Ireland)',
       'covid test centre: (Ireland)', 'hse covid vaccine: (Ireland)',
       'hse vaccine portal: (Ireland)', 'hse portal vaccine: (Ireland)',
       'pcr test hse: (Ireland)', 'hse covid test: (Ireland)',
       'hse vaccine registration: (Ireland)',
       'how long will it take to vaccinate ireland: (Ireland)'],
      dtype='object')

In [19]:
df_daily = pd.DataFrame()

In [20]:
df_daily = df.resample('D').bfill()

In [22]:
df_daily.reset_index(inplace=True)

In [23]:
df_daily.head()

,Week,covid: (Ireland),COVID-19 testing: (Ireland),COVID-19 rapid antigen test: (Ireland),Health Service Executive: (Ireland),Vaccination: (Ireland),book covid test: (Ireland)_x,how many covid cases today: (Ireland),pcr covid test: (Ireland),close contact covid: (Ireland),...,book covid test: (Ireland)_y,covid test dublin: (Ireland),covid test centre: (Ireland),hse covid vaccine: (Ireland),hse vaccine portal: (Ireland),hse portal vaccine: (Ireland),pcr test hse: (Ireland),hse covid test: (Ireland),hse vaccine registration: (Ireland),how long will it take to vaccinate ireland: (Ireland)
0,2020-03-15,50,2,0,13,0,0,2,0,0,...,0,1,2,0,0,0,0,2,0,0
1,2020-03-16,56,2,0,10,0,0,2,0,0,...,0,1,1,0,0,0,0,1,0,0
2,2020-03-17,56,2,0,10,0,0,2,0,0,...,0,1,1,0,0,0,0,1,0,0
3,2020-03-18,56,2,0,10,0,0,2,0,0,...,0,1,1,0,0,0,0,1,0,0
4,2020-03-19,56,2,0,10,0,0,2,0,0,...,0,1,1,0,0,0,0,1,0,0

In [25]:
df_daily.to_excel('GoogleData.xlsx')