In [2]:
import pandas as pd
import numpy as np

In [3]:
ni_df = pd.read_csv("NICOVID19GT.csv")

In [15]:
ni_df.head()

            COVID: (Northern Ireland)
Week
2020-01-05                          0
2020-01-12                          0
2020-01-19                          0
2020-01-26                          0
2020-02-02                          0

In [6]:
ni_df["Week"] = pd.to_datetime(ni_df["Week"], format="%d/%m/%Y")

In [9]:
roi_df = pd.read_csv("ROICOVID19GT.csv")

In [10]:
roi_df["Week"] = pd.to_datetime(roi_df["Week"], format="%d/%m/%Y")

In [11]:
ni_df.set_index('Week', inplace=True)

In [12]:
roi_df.set_index('Week', inplace=True)

In [13]:
ni_daily = ni_df.resample('D').bfill()

In [14]:
roi_daily = roi_df.resample('D').bfill()

In [19]:
GoogleTrends = pd.merge(roi_daily, ni_daily, right_index=True, left_index=True)

In [20]:
GoogleTrends

            COVID: (Ireland)  COVID: (Northern Ireland)
Week
2020-01-05                 0                          0
2020-01-06                 0                          0
2020-01-07                 0                          0
2020-01-08                 0                          0
2020-01-09                 0                          0
...                      ...                        ...
2022-03-02                17                         25
2022-03-03                17                         25
2022-03-04                17                         25
2022-03-05                17                         25
2022-03-06                17                         25

[792 rows x 2 columns]

In [21]:
GoogleTrends.to_excel("ROI_NI_GoogleTrends.xlsx")